@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #b2bde6;
  font-family: 'Roboto', serif;
  overflow-x: hidden;
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width .3s ease;
  border-radius: 20px;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform .3s ease;
  border-radius: 20px;
}

.btn:focus,
.input:focus { 
  outline: none;
}

.search.active .input {
  width: 200px;
  border-radius: 20px 0 0 20px;
}

.search.active .btn {
  transform: translateX(198px);
  border-radius: 0 20px 20px 0;
}