@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: linear-gradient(
    135deg,
    #7418f9,
    #5ef8f5
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  /* overflow: hidden; */
  margin: 0;
}

